.DS_Store
*.pem
.vscode
*.zip
node_modules
env.sh
Slides-v40.pdf
events*.json
AWS-CSAA-Exam-Cram.pdf
aws-saa-code
CSAA-slides.pdf
lab-site
secret-*
private-*
__pycache__
nodejs
python
*-func.json
.env
output*.json
*-logs.json
aws-policies.json
aws-roles.json
from-*.yaml
from-*.md
videos
code_v2023-04-07
